<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코로나 지역현황</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <style>
        #chartBox{
            width : 80%;
            margin-left: auto;
            margin-right: auto;
            max-width : 600px;
        }

        div > h1 {
            text-align: center;
        }



    </style>
</head>

<body>
    <!-- <h1>코로나 지역현황</h1>
    {% for d in data %}"{{d.gubun}}",{% endfor %}
    <hr>
    사망자(누적)
    {% for d in data %}{{d.deathCnt}},{% endfor %}
    <hr>
    전일대비 증감 수 - 확진자
    {% for d in data %}
    {{d.incDec}},
    {% endfor %}
    <hr>
    격리 해제 수
    {% for d in data %}
    {{d.isolClearCnt}},
    {% endfor %}
    <hr>
    10만명당 발생률
    {% for d in data %}
        {{d.qurRate}}, {{d.qurRate|float}}
    {% endfor %}
    <hr> -->

    <div id = "chartBox">
        <h1>지역별 사망자 누적수</h1>
        <canvas id="deathCnt" width="100", height="100"></canvas>



        <h1>전일대비 증감 수 - 확진자</h1>
        <canvas id="incDec" width="100", height="100"></canvas>


        <h1>격리 해제 수</h1>
        <canvas id="isolClearCnt" width="100", height="100"></canvas>


        <h1>10만명당 발생률</h1>
        <canvas id="qurRate" width="100", height="100"></canvas>
    </div>

    <script>
        // 지역 표현 색깔
        colorList = ["rgb(255, 99, 132)", "rgb(255, 162, 235)", "rgb(255, 205, 86)",
        "rgb(200, 99, 132)", "rgb(200, 162, 235)", "rgb(200, 205, 86)",
        "rgb(160, 99, 132)", "rgb(160, 162, 235)", "rgb(160, 205, 86)",
        "rgb(130, 99, 132)", "rgb(130, 162, 235)", "rgb(130, 205, 86)",
        "rgb(60, 99, 132)", "rgb(60, 162, 235)", "rgb(60, 205, 86)",
        "rgb(0, 99, 132)", "rgb(0, 162, 235)", "rgb(0, 205, 86)",
    ]

        // 사망자 수(누적수) 그래프
        var ctx_deathCnt = document.getElementById('deathCnt').getContext('2d');

        var deathCntChart = new Chart(ctx_deathCnt, {
            type: "doughnut",
            data: {
                labels: [{% for d in data %}"{{d.gubun}}",{% endfor %}],
                datasets: [{
                    label: "사망자 누적",
                    data: [{% for d in data %}{{d.deathCnt}},{% endfor %}],
                    backgroundColor: colorList//["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                }]
            },

        });

        // 사망자 수(누적수) 그래프
        var ctx_incDec = document.getElementById('incDec').getContext('2d');

        var incDecChart = new Chart(ctx_incDec, {
            type: "doughnut",
            data: {
                labels: [{% for d in data %}"{{d.gubun}}",{% endfor %}],
                datasets: [{
                    label: "전일대비 증감 수 - 확진자",
                    data: [{% for d in data %}{{d.incDec}},{% endfor %}],
                    backgroundColor: colorList//["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                }]
            }
        });

        // 격리 해제 수 그래프
        var ctx_isolClearCnt = document.getElementById('isolClearCnt').getContext('2d');

        var isolClearCntChart = new Chart(ctx_isolClearCnt, {
            type: "doughnut",
            data: {
                labels: [{% for d in data %}"{{d.gubun}}",{% endfor %}],
                datasets: [{
                    label: "격리 해제 수",
                    data: [{% for d in data %}{{d.isolClearCnt}},{% endfor %}],
                    backgroundColor: colorList//["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                }]
            }
        });

        // 격리 해제 수 그래프
        var ctx_qurRate = document.getElementById('qurRate').getContext('2d');

        var qurRateChart = new Chart(ctx_qurRate, {
            type: "doughnut",
            data: {
                labels: [{% for d in data %}"{{d.gubun}}",{% endfor %}],
                datasets: [{
                    label: "격리 해제 수",
                    data: [{% for d in data %}{{d.qurRate|float}},{% endfor %}],
                    backgroundColor: colorList//["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"]
                }]
            }
        });
    </script>
</body>

</html>
